mat-form-field {
  margin-right: 1rem;
  width: 15rem;
}

mat-card {
  background-color: white;
}

mat-card-header {
  margin-bottom: 1rem;
}

.calculator-container {
  display: flex;
  padding: 20px;
  background-color: #ffffff;
}

.left {
  display: flex;
  flex-direction: column;
  // flex: 1.5;
  padding-right: 20px;
}

.right {
  display: flex;
  flex-direction: column;
  // flex: 1;
}

.left-margin-1 {
  margin-left: 1rem;
}

.input-card {
  display: flex;
  margin-bottom: 20px;
}

.field-row {
  display: flex;
}

.calculated-text-color {
  color: blue !important;
}

.spacing-field-half {
  display: flex;
  flex: 0.5;
}

.spacing-field-one {
  display: flex;
  flex: 1;
}

.button-wrapper {
  display: flex;
  margin: auto 1rem 1rem;
}

.message-info {
  margin: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; // Fixed width for first column, flexible for second column
  gap: 4px 10px; // Space between the grid items
  align-items: center; // Vertically center align the items within the grid cells
  margin-bottom: 1.5rem;
  font-size: 1rem;
  font-size: 0.84rem;
  text-wrap: nowrap;
}

.figure-title {
  margin-bottom: 2rem;
  font-weight: 400;
}

.highlighted-profit {
  color: #3557d8;
  font-weight: bold;
  font-size: 1rem;
}

.highlighted-cash-left-in {
  color: #e38d47;
  font-weight: bold;
  font-size: 1rem;
}

.meta-data-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; // Fixed width for first column, flexible for second column
  gap: 8px 10px; // Space between the grid items
  align-items: center; // Vertically center align the items within the grid cells
  margin-bottom: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  text-wrap: nowrap;
}

.mat-mdc-card {
  box-shadow: none !important;
}

.figures-card {
  border-radius: 1rem;
  background: #ffffff;
  flex: 1;
  margin-top: 4rem;
  box-shadow: rgba(0, 0, 0, 0.10) 0px 1px 10px !important;
  border-bottom: 4px solid #3557d8;
}


.figure-title {
  font-size: 0.88rem !important;
  font-weight: 600;
  color: #10192e !important;
  margin-bottom: 1rem;
}