<form [formGroup]="propertyForm" (ngSubmit)="calculateFigures()">
    <div class="calculator-container row" id="pdf-content">
        <div class="col-8 left">
            <h2 class="mt-0"> Property : {{propertyAddress}}</h2>
            <!-- Purchase Information Card -->
            <div class="card input-card">
                <div class="card-header">
                    <h3 class="mb-0">Purchase Information</h3>
                </div>
                <div class="card-body">
                    <div formGroupName="purchaseInformation">
                        <div class="row">
                            <div class="col-auto">
                                <label for="purchasePrice" class="form-label">Purchase Price</label>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1">£</span>
                                    <input type="text" formControlName="purchasePrice" class="form-control"
                                        id="purchasePrice">
                                </div>
                            </div>

                            <div class="col-auto">
                                <label for="legalAndAuctionFees" class="form-label">Legal/Auction/Sourcing Fees</label>
                                <input type="text" formControlName="legalAndAuctionFees" class="form-control" required>
                            </div>

                            <div class="col-auto">
                                <label for="refurbCost" class="form-label">Refurb Cost</label>
                                <input type="text" formControlName="refurbCost" class="form-control" required>
                            </div>

                            <div class="col-auto">
                                <label for="refurbCost" class="form-label">Stamp Duty (BTL Res rate)</label>
                                <input type="text" formControlName="stampDuty"
                                    class="form-control calculated-text-color" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Borrowing Information Card -->
            <div class="card input-card">
                <div class="card-header">
                    <h3 class="mb-0">Borrowing</h3>
                </div>

                <div class="card-body">

                    <div formGroupName="borrowingInformation">

                        <div class="row mb-3">

                            <div class="col-auto">
                                <label for="depositPercentage" class="form-label">Deposit (%)</label>
                                <input type="number" formControlName="depositPercentage" class="form-control" required>
                            </div>

                            <div class="col-auto">
                                <label for="monthsOnBridging" class="form-label">Months on Bridging</label>
                                <input type="text" formControlName="monthsOnBridging" class="form-control" required>
                            </div>

                            <div class="col-auto">
                                <label for="mortgageFeePercentage" class="form-label">Mortgage Arrangement Fee
                                    (%)</label>
                                <input type="text" formControlName="mortgageFeePercentage" class="form-control"
                                    required>
                            </div>

                            <div class="col-auto">
                                <label for="mortgageInterestRate" class="form-label">Mortgage Interest Rate (%)</label>
                                <input type="text" formControlName="mortgageInterestRate" class="form-control" required>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-auto">
                                <label for="mortgagePercentage" class="form-label">Mortgage (%)</label>
                                <input type="number" formControlName="mortgagePercentage"
                                    class="form-control calculated-text-color" readonly>
                            </div>

                            <div class="col-auto">
                                <label for="dipositAmount" class="form-label">Deposit Amount</label>
                                <input type="text" formControlName="dipositAmount"
                                    class="form-control calculated-text-color" readonly>
                            </div>

                            <div class="col-auto">
                                <label for="mortgageAmount" class="form-label">Mortgage Amount</label>
                                <input type="text" formControlName="mortgageAmount"
                                    class="form-control calculated-text-color" required>
                            </div>

                            <div class="col-auto">
                                <label for="mortgageFeeAmount" class="form-label">Mortgage Fee Amount</label>
                                <input type="text" formControlName="mortgageFeeAmount"
                                    class="form-control calculated-text-color" required>
                            </div>

                            <div class="col-auto mt-3">
                                <label for="mortgageInterestAmount" class="form-label">Mortgage Interest Amount</label>
                                <input type="text" formControlName="mortgageInterestAmount"
                                    class="form-control calculated-text-color" required>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <!-- BTL Information Card -->
            <div class="card input-card">

                <div class="card-header">
                    <h3 class="mb-0">BTL Information (if applicable)</h3>
                </div>

                <div class="card-body">

                    <div formGroupName="BTLInformation">

                        <div class="row">

                            <div class="col-auto">
                                <label for="monthlyRent" class="form-label">Monthly Rent</label>
                                <input type="number" formControlName="monthlyRent"
                                    class="form-control" required>
                            </div>

                            <div class="col-auto">
                                <label for="lettingAgentFee" class="form-label">Letting Agents Fee (%)</label>
                                <input type="number" formControlName="lettingAgentFee"
                                    class="form-control" required>
                            </div>

                            <div class="col-auto">
                                <label for="monthlyRunningCosts" class="form-label">Monthly Running Costs</label>
                                <input type="number" formControlName="monthlyRunningCosts"
                                    class="form-control" required>
                            </div>

                            <div class="col-auto">
                                <label for="lettingAgentFeeAmount" class="form-label">Letting Agents Fee Amount</label>
                                <input type="number" formControlName="lettingAgentFeeAmount"
                                    class="form-control calculated-text-color" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- BRR Information Card -->
            <div class="card input-card">
                <div class="card-header">
                    <h3 class="mb-0">BRR Information (if applicable)</h3>
                </div>
                <div class="card-body">

                    <div formGroupName="BRRInformation">

                        <div class="row">

                            <div class="col-auto">
                                <label for="newMarketValue" class="form-label">New Market Value</label>
                                <input type="number" formControlName="newMarketValue"
                                    class="form-control calculated-text-color" required>
                            </div>

                            <div class="col-auto">
                                <label for="refinancedLTV" class="form-label">Refinanced at (% LTV)</label>
                                <input type="number" formControlName="refinancedLTV"
                                    class="form-control calculated-text-color" required>
                            </div>

                            <div class="col-auto">
                                <label for="refinancingArrangementFee" class="form-label">Mortgage Arrangement Fee (%)</label>
                                <input type="number" formControlName="refinancingArrangementFee"
                                    class="form-control calculated-text-color" required>
                            </div>

                            <div class="col-auto">
                                <label for="refinancingInterestRate" class="form-label">Mortgage Interest Rate (%)</label>
                                <input type="number" formControlName="refinancingInterestRate"
                                    class="form-control calculated-text-color" required>
                            </div>
                        </div>
                        <!-- <div class="field-row"> Calculated</div> -->
                        <div class="row mt-3">

                            <div class="col-auto">
                                <label for="refinancedLTVAmount" class="form-label">Refinanced LTV Amount</label>
                                <input type="number" formControlName="refinancedLTVAmount"
                                    class="form-control calculated-text-color" required>
                            </div>

                            <div class="col-auto">
                                <label for="refinanceFeeAmount" class="form-label">Mortgage Fee Amount</label>
                                <input type="number" formControlName="refinanceFeeAmount"
                                    class="form-control calculated-text-color" required>
                            </div>

                            <div class="col-auto">
                                <label for="refinanceInterestAmount" class="form-label">Mortgage Interest Amount</label>
                                <input type="number" formControlName="refinanceInterestAmount"
                                    class="form-control calculated-text-color" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- BTS Information Card -->
            <div class="card input-card">

                <div class="card-header">
                    <h3 class="mb-0">BTS Information (if applicable)</h3>
                </div>

                <div class="card-body">

                    <div formGroupName="BTSInformation">

                        <div class="row">

                            <div class="col-auto">
                                <label for="salePrice" class="form-label">Sale Price</label>
                                <input type="number" formControlName="salePrice"
                                    class="form-control" required>
                            </div>

                            <div class="col-auto">
                                <label for="legalFeesBTS" class="form-label">Legal Fees</label>
                                <input type="number" formControlName="legalFeesBTS"
                                    class="form-control" required>
                            </div>

                            <div class="col-auto">
                                <label for="estateAgentFee" class="form-label">Estate Agent Fee (%)</label>
                                <input type="number" formControlName="estateAgentFee"
                                    class="form-control" required>
                            </div>

                            <div class="col-auto">
                                <label for="estateAgentFeeAmount" class="form-label">Estate Agent Fee Amount</label>
                                <input type="number" formControlName="estateAgentFeeAmount"
                                    class="form-control calculated-text-color" readonly>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Calculation Results -->
        <div class="col-4 right">
            <mat-card class="input-card figures-card">
                <ng-container *ngIf="propertyForm.invalid">
                    <mat-card-content class="message-info">
                        <h2> Fill in the details to see the figures.. </h2>
                    </mat-card-content>
                </ng-container>
                <ng-container *ngIf="figures">
                    <ng-container *ngIf="propertyForm.valid">
                        <mat-card-content>
                            <div class="image-container">
                                <img class="image" [src]="imageURL" alt="photo 1">
                            </div>
                            <h3 class="figure-title">Exit Option - BTL</h3>
                            <div class="grid-container">
                                <div>Total Investment Costs:</div>
                                <div class="text-end">{{ figures.exitOptionBTL.totalInvestmentCosts | currency: 'GBP'}}
                                </div>

                                <div>Monthly Cashflow:</div>
                                <div class="text-end">{{ figures.exitOptionBTL.monthlyCashflow | currency: 'GBP'}}</div>

                                <div>Gross Yield: </div>
                                <div class="text-end">{{ figures.exitOptionBTL.grossYield}}%</div>

                                <div> Net Yield:</div>
                                <div class="text-end">{{ figures.exitOptionBTL.netYield }}%</div>

                                <div>Return On Investment:</div>
                                <div class="text-end">{{ figures.exitOptionBTL.returnOnInvestment }}%</div>
                            </div>

                            <h3 class="figure-title">Exit Option - BRR Refinance</h3>
                            <div class="grid-container">
                                <div>Refinanced Monthly Cashflow:</div>
                                <div class="text-end">{{ figures.exitOptionBRR.refinancedMonthlyCashflow | currency:
                                    'GBP'}}</div>

                                <div>Cash Out From Refinancing:</div>
                                <div class="text-end">{{ figures.exitOptionBRR.cashOutFromRefinancing | currency:
                                    'GBP'}}</div>

                                <div class="highlighted-cash-left-in">Money Left In Deal: </div>
                                <div class="highlighted-cash-left-in text-end">{{ figures.exitOptionBRR.moneyLeftInDeal
                                    | currency:
                                    'GBP'}}</div>

                                <div> Months Before No Money Left In:</div>
                                <div class="text-end">{{ figures.exitOptionBRR.monthsBeforeNoMoneyLeft }}</div>

                                <div>Return On Investment:</div>
                                <div class="text-end">{{ figures.exitOptionBRR.returnOnInvestment }}%</div>
                            </div>

                            <h3 class="figure-title">Exit Option - BTS</h3>
                            <div class="grid-container">
                                <div>Total Investment Costs:</div>
                                <div class="text-end">{{ figures.exitOptionBTS.totalInvestmentCosts | currency: 'GBP'}}
                                </div>

                                <div>Total Selling Costs:</div>
                                <div class="text-end">{{ figures.exitOptionBTS.totalSellingCosts | currency: 'GBP'}}
                                </div>

                                <div class="highlighted-profit">Profit From Deal: </div>
                                <div class="highlighted-profit text-end">{{ figures.exitOptionBTS.profitFromDeal |
                                    currency: 'GBP'}}
                                </div>

                                <div> Return On Investment:</div>
                                <div class="text-end">{{ figures.exitOptionBTS.returnOnInvestment }}%</div>
                            </div>
                        </mat-card-content>
                    </ng-container>
                </ng-container>
                <!-- <hr> -->
                <ng-container *ngIf="formData?.metaData as metaData">
                    <div class="mt-3 p-3 meta-data-grid">
                        <div>Guide Price</div>
                        <div class="text-end">
                            {{metaData.guidePrice}}
                        </div>
                        <div>Rightmove Link</div>
                        <div>
                            <a [href]="metaData.rightmoveLink" target="_blank"> Click here to navigate to rigtmove
                                link</a>
                        </div>
                        <div>Auction Link</div>
                        <div>
                            <a [href]="metaData.auctionSiteLink" target="_blank">Click here to navigate to auction
                                link</a>
                        </div>
                        <div>Notes</div>
                        <div>
                            <textarea readonly="true">
                                {{metaData.notes}}
                            </textarea>
                        </div>
                    </div>
                </ng-container>
                <div *ngIf="!propertyForm.invalid" class="d-grid button-wrapper">
                    <button class="btn btn-primary btn-block btn-lg" (click)="saveCalculation()">Save
                        Calculation</button>
                    <!-- <button class="btn btn-primary btn-block btn-lg" (click)="exportAsPDF()">Export Calculation</button> -->
                </div>
            </mat-card>
        </div>
    </div>
</form>