<form [formGroup]="propertyForm" (ngSubmit)="calculateFigures()" class="container-fluid">
    <div class="row" id="pdf-content" class="calculator-container">
        <div id="left-column" class="col-8 left">
            <!-- Purchase Information Card -->
            <div class="card input-card">
                <div class="card-header d-flex">
                    <h3 class="mb-0">Purchase Information</h3>
                    <h4 class="mb-0 mt-auto text-grey" *ngIf="isPurchasePriceInvalid() || isRefurbCostInvalid()"> &nbsp;- fill in the missing purchase information</h4>
                </div>
                <div class="card-body">
                    <div formGroupName="purchaseInformation">
                        <div class="row">
                            <div class="col-3">
                                <label for="purchasePrice" class="form-label" [ngClass]="{'text-red': isPurchasePriceInvalid()}">Purchase Price</label>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1">£</span>
                                    <input type="number" formControlName="purchasePrice" class="form-control"
                                        id="purchasePrice">
                                </div>
                            </div>

                            <div class="col-3">
                                <label for="legalAndAuctionFees" class="form-label">Legal/Auc Fees</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1">£</span>
                                    <input type="number" formControlName="legalAndAuctionFees" class="form-control" required>
                                </div>
                                <!-- <div class="input-group"></div> -->
                            </div>
                            
                            <div class="col-3">
                                <label for="refurbCost" class="form-label" [ngClass]="{'text-red': isRefurbCostInvalid()}">Refurb Cost</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1">£</span>
                                    <input type="number" formControlName="refurbCost" class="form-control" required>
                                </div>
                            </div>
                            
                            <div class="col-3">
                                <label for="refurbCost" class="form-label">Stamp Duty</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1">£</span>
                                    <input type="number" formControlName="stampDuty" class="form-control calculated-text-color" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Borrowing Information Card -->
            <div class="card input-card">
                <div class="card-header">
                    <h3 class="mb-0">Bridging</h3>
                </div>
                <div class="card-body">
                    <div formGroupName="borrowingInformation">
                        <div class="row mb-3">
                            <div class="col-3">
                                <label for="depositPercentage" class="form-label">Deposit (%)</label>
                                <input type="number" formControlName="depositPercentage" class="form-control" required>
                            </div>
                            <div class="col-3">
                                <label for="monthsOnBridging" class="form-label">Bridging duration</label>
                                <input type="text" formControlName="monthsOnBridging" class="form-control" required>
                            </div>
                            <div class="col-3">
                                <label for="mortgageFeePercentage" class="form-label">Bridging Fee(%)</label>
                                <input type="text" formControlName="mortgageFeePercentage" class="form-control"
                                    required>
                            </div>
                            <div class="col-3">
                                <label for="mortgageInterestRate" class="form-label">Bridging Interest(%)</label>
                                <input type="text" formControlName="mortgageInterestRate" class="form-control" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <label for="mortgagePercentage" class="form-label">Mortgage (%)</label>
                                <input type="number" formControlName="mortgagePercentage"
                                    class="form-control calculated-text-color" readonly>
                            </div>
                            <div class="col-3">
                                <label for="dipositAmount" class="form-label">Deposit Amount</label>
                                 <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1">£</span>
                                    <input type="text" formControlName="dipositAmount" class="form-control calculated-text-color" readonly>
                                 </div>
                            </div>
                            <div class="col-3">
                                <label for="mortgageAmount" class="form-label">Mortgage Amount</label>
                                 <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1">£</span>
                                    <input type="text" formControlName="mortgageAmount" class="form-control calculated-text-color" required>
                                 </div>
                            </div>
                            <div class="col-2">
                                <label for="mortgageFeeAmount" class="form-label">Mortgage Fee</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1">£</span>
                                    <input type="text" formControlName="mortgageFeeAmount" class="form-control calculated-text-color" required>
                                </div>
                            </div>
                            <div class="col-2">
                                <label for="mortgageInterestAmount" class="form-label">Mortgage Interest</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1">£</span>
                                    <input type="text" formControlName="mortgageInterestAmount" class="form-control calculated-text-color" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- BTL Information Card -->
            <div class="card input-card">

                <div class="card-header d-flex">
                    <h3 class="mb-0">BTL Information (if applicable)</h3>
                    <h4 class="mb-0 mt-auto text-grey" *ngIf="isMonthlyRentInvalid()"> &nbsp;- fill in the missing BTL information</h4>
                </div>

                <div class="card-body">

                    <div formGroupName="BTLInformation">

                        <div class="row">

                            <div class="col-3">
                                <label for="monthlyRent" class="form-label" [ngClass]="{'text-red': isMonthlyRentInvalid()}">Monthly Rent</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1">£</span>
                                    <input type="number" formControlName="monthlyRent" class="form-control" required>
                                </div>
                            </div>

                            <div class="col-3">
                                <label for="lettingAgentFee" class="form-label">Letting Fee(%)</label>
                                <input type="number" formControlName="lettingAgentFee" class="form-control" required>
                            </div>

                            <div class="col-3">
                                <label for="monthlyRunningCosts" class="form-label">Running Costs(PCM)</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1">£</span>
                                    <input type="number" formControlName="monthlyRunningCosts" class="form-control" required>
                                </div>
                            </div>

                            <div class="col-3">
                                <label for="lettingAgentFeeAmount" class="form-label">Letting Fee</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1">£</span>
                                    <input type="number" formControlName="lettingAgentFeeAmount" class="form-control calculated-text-color" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex mb-4">
                <button type="button" class="btn btn-primary" (click)="openComparablesDialog()">
                <i class="bi bi-plus-circle me-2"></i>Comparables
                </button>
            </div>

            <!-- BRR Information Card -->
            <div class="card input-card">
                <div class="card-header d-flex">
                    <h3 class="mb-0">BRR Information (if applicable)</h3>
                    <h4 class="mb-0 mt-auto text-grey" *ngIf="isNewMarketValueInvalid()"> &nbsp;- fill in the missing BRR information</h4>
                </div>
                <div class="card-body">

                    <div formGroupName="BRRInformation">

                        <div class="row">

                            <div class="col-3">
                                <label for="newMarketValue" class="form-label" [ngClass]="{'text-red': isNewMarketValueInvalid()}">New Market Value</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1">£</span>
                                    <input type="number" formControlName="newMarketValue" class="form-control calculated-text-color" required>
                                </div>
                            </div>

                            <div class="col-3">
                                <label for="refinancedLTV" class="form-label">Refinanced(% LTV)</label>
                                <input type="number" formControlName="refinancedLTV"
                                    class="form-control calculated-text-color" required>
                            </div>

                            <div class="col-3">
                                <label for="refinancingArrangementFee" class="form-label">Mortgage Fee(%)</label>
                                <input type="number" formControlName="refinancingArrangementFee"
                                    class="form-control calculated-text-color" required>
                            </div>

                            <div class="col-3">
                                <label for="refinancingInterestRate" class="form-label">Mortgage Interest(%)</label>
                                <input type="number" formControlName="refinancingInterestRate"
                                    class="form-control calculated-text-color" required>
                            </div>
                        </div>
                        <!-- <div class="field-row"> Calculated</div> -->
                        <div class="row mt-3">

                            <div class="col-3">
                                <label for="refinancedLTVAmount" class="form-label">Refinanced LTV</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1">£</span>
                                    <input type="number" formControlName="refinancedLTVAmount"
                                        class="form-control calculated-text-color" required>
                                </div>
                            </div>

                            <div class="col-3">
                                <label for="refinanceFeeAmount" class="form-label">Mortgage Fee</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1">£</span>
                                    <input type="number" formControlName="refinanceFeeAmount"
                                        class="form-control calculated-text-color" required>
                                </div>
                            </div>

                            <div class="col-3">
                                <label for="refinanceInterestAmount" class="form-label">Mortgage Interest</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1">£</span>
                                    <input type="number" formControlName="refinanceInterestAmount"
                                        class="form-control calculated-text-color" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- BTS Information Card -->
            <div class="card input-card">

                <div class="card-header d-flex">
                    <h3 class="mb-0">BTS Information (if applicable)</h3>
                    <h4 class="mb-0 mt-auto text-grey" *ngIf="isSalePriceInvalid()"> &nbsp;- fill in the missing BTS information</h4>
                </div>

                <div class="card-body">

                    <div formGroupName="BTSInformation">

                        <div class="row">

                            <div class="col-3">
                                <label for="salePrice" class="form-label" [ngClass]="{'text-red': isSalePriceInvalid()}" >Sale Price</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1">£</span>
                                    <input type="number" formControlName="salePrice"
                                        class="form-control" required>
                                </div>
                            </div>

                            <div class="col-3">
                                <label for="legalFeesBTS" class="form-label">Legal Fees</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1">£</span>
                                    <input type="number" formControlName="legalFeesBTS"
                                        class="form-control" required>
                                </div>
                            </div>

                            <div class="col-3">
                                <label for="estateAgentFee" class="form-label">Estate Agent Fee (%)</label>
                                <input type="number" formControlName="estateAgentFee" class="form-control" required>
                            </div>

                            <div class="col-3">
                                <label for="estateAgentFeeAmount" class="form-label">Estate Agent Fee</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1">£</span>
                                    <input type="number" formControlName="estateAgentFeeAmount"
                                        class="form-control calculated-text-color" readonly>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Calculation Results -->
        <div id="right-column" class="col-4 right">
            <mat-card class="input-card figures-card">
                <ng-container *ngIf="propertyForm.invalid">
                    <mat-card-content class="message-info">
                        <h2> Fill in the details to see the figures.. </h2>
                    </mat-card-content>
                </ng-container>
                <ng-container *ngIf="figures">
                    <ng-container *ngIf="propertyForm.valid">
                        <div class="card border-0">
                            <div class="card-body pb-0 pt-0">
                                <div class="row">
                                    
                                    <div class="col">
                                        <ng-container *ngIf="formData?.metaData as metaData">
                                            <ul class="list-group mb-3">
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    <h2 class="mt-0">{{propertyAddress}}</h2>
                                                </li>

                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Guide Price
                                                    <span class="">{{metaData.guidePrice}}</span>
                                                </li>
                
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Rightmove Link
                                                    <span class="text-wrap">
                                                        <a [href]="metaData.rightmoveLink" target="_blank">Click here</a>
                                                    </span>
                                                </li>
                
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Auction Link
                                                    <span class="text-wrap">
                                                        <a [href]="metaData.auctionSiteLink" target="_blank">Click here </a>
                                                    </span>
                                                </li>
                
                                            </ul>
                                        </ng-container>
                                    </div>
                                    <div class="col">
                                        <div class="image-container">
                                            <img id="remote-image" [src]="imageURL" class="image">
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-4">

                                    <h3 class="figure-title mb-1">Exit Option - BTL</h3>

                                    <ul class="list-group">

                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            Total Investment Costs:
                                            <span class="text-primary">{{ figures.exitOptionBTL.totalInvestmentCosts |
                                                currency: 'GBP'}}</span>
                                        </li>

                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            Monthly Cashflow:
                                            <span class="text-primary">{{ figures.exitOptionBTL.monthlyCashflow |
                                                currency: 'GBP'}}</span>
                                        </li>

                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            Gross Yield:
                                            <span class="text-primary">{{ figures.exitOptionBTL.grossYield}}%</span>
                                        </li>

                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            Net Yield:
                                            <span class="text-primary">{{ figures.exitOptionBTL.netYield }}%</span>
                                        </li>

                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            Return On Investment:
                                            <span class="text-primary">{{ figures.exitOptionBTL.returnOnInvestment
                                                }}%</span>
                                        </li>

                                    </ul>
                                </div>

                                <div class="mb-4">

                                    <h3 class="figure-title mb-1">Exit Option - BRR Refinance</h3>

                                    <ul class="list-group">

                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            Refinanced Monthly Cashflow:
                                            <span class="text-primary">{{
                                                figures.exitOptionBRR.refinancedMonthlyCashflow | currency:
                                                'GBP'}}</span>
                                        </li>

                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            Cash Out From Refinancing:
                                            <span class="text-primary">{{ figures.exitOptionBRR.cashOutFromRefinancing |
                                                currency:
                                                'GBP'}}</span>
                                        </li>

                                        <li
                                            class="list-group-item d-flex justify-content-between align-items-center text-bg-light">
                                            Money Left In Deal:
                                            <span class="text-primary fs-5 fw-bold">{{
                                                figures.exitOptionBRR.moneyLeftInDeal
                                                | currency:
                                                'GBP'}}</span>
                                        </li>

                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            Months Before No Money Left In:
                                            <span class="text-primary">{{ figures.exitOptionBRR.monthsBeforeNoMoneyLeft
                                                }}</span>
                                        </li>

                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            Return On Investment:
                                            <span class="text-primary">{{ figures.exitOptionBRR.returnOnInvestment
                                                }}%</span>
                                        </li>

                                    </ul>

                                </div>

                                <div class="mb-4">

                                    <h3 class="figure-title mb-1">Exit Option - BTS</h3>

                                    <ul class="list-group">

                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            Total Investment Costs:
                                            <span class="text-primary">{{ figures.exitOptionBTS.totalInvestmentCosts |
                                                currency: 'GBP'}}</span>
                                        </li>

                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            Total Selling Costs:
                                            <span class="text-primary">{{ figures.exitOptionBTS.totalSellingCosts |
                                                currency: 'GBP'}}</span>
                                        </li>

                                        <li
                                            class="list-group-item d-flex justify-content-between align-items-center text-bg-light">
                                            Profit From Deal:
                                            <span class="text-primary fs-5 fw-bold">{{
                                                figures.exitOptionBTS.profitFromDeal |
                                                currency: 'GBP'}}</span>
                                        </li>

                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            Return On Investment:
                                            <span class="text-primary">{{ figures.exitOptionBTS.returnOnInvestment
                                                }}%</span>
                                        </li>

                                    </ul>

                                </div>

                            </div>
                        </div>
                    </ng-container>
                </ng-container>
                <!-- <hr> -->
                <ng-container *ngIf="propertyAddress !== ''">
                    <ng-container *ngIf="formData?.metaData as metaData">
                        <div class="card border-0">
                            <div class="card-body pt-0">
                                <div class="form-floating" formGroupName="metaData">
                                    <textarea readonly formControlName="notes"  class="form-control" placeholder="Leave a notes here" id="floatingTextarea"></textarea>
                                    <label for="floatingTextarea">Notes</label>
                                  </div>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
               
            </mat-card>
        </div>
    </div>
    <div *ngIf="!propertyForm.invalid" class="d-flex button-wrapper">
        <button class="btn btn-outline-primary btn-block" (click)="saveCalculation()">
            <i class="bi bi-save me-2"></i>Save Calculation</button>
        <button class="btn btn-outline-secondary ms-2 btn-block" (click)="exportPdf()">
            <i class="bi bi-share me-2"></i>Export Calculation</button>
        <button class="btn btn-outline-secondary ms-2 btn-block" (click)="shareCalculation()">
            <i class="bi bi-share me-2"></i>Share Calculation</button>    
    </div>
</form>