.input-field {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
    color: #9575cd;
}

.grey {
    color: grey;
}

.label {
    font-size: 1rem;
    /* Adjust this as necessary */
    text-align: center;
}

.value {
    font-size: 2rem;
    /* Double the font size of the label */
    text-align: center;
    margin-top: 1rem;
}